@import '../../constants.css';

.landing-page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    width: 90vw;
    margin: auto;
    font-family: var(--primary-font-family);
    margin-right: 0;
}

.text-section, .image-section{
    width: 50vw;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-text{
    font-weight: bold;
    font-size: 4rem;
    /* text-align: left; */
}
.sub-text{
    font-family: var(--secondary-font-family);
    color: var(--secondary-font-color);
}
.primary-btn{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem;
    border: none;
    border-radius: 3rem;
}
.customize-link{
    text-shadow: 0rem 0.20rem 0.2rem var(--secondary-font-color);
}
.photo-container{
    display: flex;
    justify-content: space-around;
    /* transform: translate(2rem, 2rem); */
}
.product-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.payment-container{
    display: flex;
    justify-content: end;
}
.happy-face-img{
   height: 7rem;
   width: 10rem;
   border-radius: 1rem;
   transform: translate(-2rem, 4rem);
}
.polka-pattern-1{
    background: radial-gradient(var(--secondary-color) 10%, transparent 10%);
    background-size: 2rem 2rem;
    height: 6rem;
    width: 10rem;
    transform: translate(-6rem, 2.5rem);
}
.polka-pattern-2{
    background: radial-gradient(var(--secondary-color) 10%, transparent 10%);
    background-size: 2rem 2rem;
    height: 10rem;
    width: 4rem;
}
.product-img{
    height: 15rem;
    width: 32rem;
    /* transform: translate(-1rem, 1rem ); */
}
.polka-pattern-3{
    background: radial-gradient(var(--secondary-color) 10%, transparent 10%);
    background-size: 2rem 2rem;
    height: 12rem;
    width: 12rem;
    transform: translate(-4rem, -4rem);
    /* z-index: -1; */
}
.payment-img{
    height: 10rem;
    width: 16em;
    transform: translate(0rem, -4rem);
}